/* @import './header.css';
@import './main.css';
@import './footer.css'; */




*{}
body{
}
div{}
img{}
main{
    border: 1px solid;
    width: 70%;
    height: 100%;
    margin: 0 auto;
}

button{
    /* width: 70%; */
    border: none;
    font-weight: bold;
}

.wrapper--productpage{
    width: 100%;
    /* margin: auto; */
    /* width: auto; */
    height: 100%;
    /* padding: 3px; */
}
.wrapper--productpage>.productmaininfo{
    position:relative;
    border: 1px solid purple;
    margin-top: 30px;
    height: auto;
    display: flex;
    /* justify-content: right; */
}
.wrapper--productpage>.productmaininfo>.productmainimg{
    width: 48%;
    height: 48%;
    /* margin: auto; */
    left: 0px;
}

.wrapper--productpage>.productmaininfo>.productmainimg>img{
    width: 90% ;
    height: 90%;
}

.productmaininfo>.productin{
    position: absolute;
    width: 48%;
    height: 100%;
    border: 1px solid blue;
    right: 0px;
}
.productmaininfo>.productin>.productinfo{
    position: relative;
    height: 70%;
    border-bottom: 1px solid;
}
.productmaininfo>.productin>.productinfo>li{ 
    border: 1px solid ;
    padding: 5%;
    display: flex;
    list-style: none;

}

.productinfo>li>div{
    border: 1px solid white;
    font-weight: 400;
    flex-grow: 1;
}




.productmaininfo>.productin>.buybutton{
    position: absolute;
    top: 0px; bottom: 0px;
    margin: auto;
    width: 98%;
    height: 100%;
    margin:auto;
    padding: auto;
    border: dashed;
    bottom: 0px;
}
.productmaininfo>.productin>.buybutton>.topbutton{ 
 }
.productmaininfo>.productin>.buybutton>.topbutton>button{
    font-size: large;
    width: 100%;
    height: 48%;
}
.productmaininfo>.productin>.buybutton>.bottombutton{
    /* width: 100%; */
    display: flex;
}

.productmaininfo>.productin>.buybutton>.bottombutton>button{
    font-size: large;
    flex-grow: 1;
    height: 48%;
    
}

.bottombutton>button:last-child{
    margin-left: 20px;
}

  


/* main middle */


.wrapper--productpage>.productpagemiddle{
     list-style: none;
    padding: 0px;
    position: relative;
    /* border: 1px solid red; */
    display:flex;
    justify-content: center;
    height: max-content;
}


.wrapper--productpage>.productpagemiddle>li{
    position: relative;
    list-style: none;
    font-size: 20px;
    text-align: center;
    justify-content: space-between;
}

.wrapper--productpage>.productpagemiddle>li>a{
    color: grey;
    margin: 10px;
    display: block;
    text-decoration: none;
    text-align: center;
    padding: 10px 10px;
}
.productpagemiddle>li>a::after{
    content: '|';
    padding: 2px;
    /* font-size: 32px; */
    position: absolute;
    /* width: 100px; */

}

.productpagemiddle>li:first-child>a::before{
    content: '|';
    padding: 2px;
    /* font-size: 32px; */
    position: relative;
    /* padding-right: 40px; */
}

/* main under */

.wrapper--productpage>.detailinfo{
    display: flex;
    margin-top: 30px;
    height: 1200px;
    border: 1px solid black;
}
.wrapper--productpage>.detailinfo>img{
    margin: auto;
    width: 100px;
    height: 100px;

}

.df{
    display: flex;
    width: 300px;
    font-family:'Chewy', cursive;
    color: rgb(255, 157, 0);
    font-style: italic;
    text-decoration: underline;
    font-size: 48px;
    position: absolute;
    left: 40%;
    top: 45px;
  }

