body{
    margin: 0;
    padding: 0;
}
.banner{
    /* border: 1px solid red; */

    height: 202px;
    background-color: black;
    position: relative;
    z-index: 1;
    
}


.bannertop{
    height: 30px;
}

.bannermid{
    text-align: center;
}



.bannerbot{
    display: flex;
    justify-content: center;
    align-content: center;
    height: auto;
    position: absolute;

    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;

    /* border: 1px solid orange; */
}

.bannerbot li, .bannerbot ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.bannerbot li{
    text-align: center;
}





.depth1{
    display: flex;
    width: 40%;
    min-width: 1024px;
    height: 30px;
    justify-content: space-evenly;
    /* border: 1px solid yellow; */
}
.depth1item{
    position: relative;
    width: 150px;
    height: 30px;
    /* border: 1px solid yellowgreen; */
}
.depth1item>a{
    color: white;
    text-decoration: none;
}

.depth1item:hover .depth2{
    display: block;
}

.depth2{
    position: relative;
    display: none;
    width: auto;
    /* border: 1px solid green; */
    z-index: 1;
}
.depth2item{
    position: relative;
    width: auto;
    height: 30px;
    border: 1px solid;
}

.depth2itemstyle{
    background-color: black;
    animation-name: dropdown_soft;
    animation-duration: 0.35s;
    animation-timing-function: ease-out;
    /* animation-direction: alternate; */
}

.depth2item>a{
    color: white;
    text-decoration: none;
}
















@keyframes dropdown_soft{
    from{
        margin-top:-100%;
    }
    to{
        margin-top:0%;
    }
    0%{
        opacity: 0;
    }
    60%{
        opacity: 0.2;
    }
    70%{
        opacity: 0.45;
    }
    82%{
        opacity: 0.7;
    }
    91%{
        opacity: 0.9;
    }
    100%{
        opacity: 1;
    }
}




.df{
    margin: 0 auto;
    font-family:'Chewy', cursive;
    color: rgb(255, 157, 0);
    font-style: italic;
    text-decoration: underline;
    font-size: 48px;
  }



  .logo {
    position: absolute;
    margin: auto 0;
    justify-content: center;
    
    /* background-color: white; */

}

.logoimg{
    width: 100px;
    height: 100px;
    background-color: white;
    /* margin: auto 0; */
}