.banner{
    width: 100%;
    height: auto;
}

.bannertop{
text-align: center;
}
.bannermid{    
    line-height: 30px;
}

.logo{
    position: relative;
    height: 100px;
}



.bannerbot {
    display: block;
    /* position:absolute; */
    /* position:relative; */
    justify-content: center;
    align-content: center;
    width: 100%;
    position: relative;
}
.depth1{
    min-width: 100%;
    display: block;
    background-color: black;
    position:absolute;

}
.depth1item {
    left: 0;
    right: 0;
    width: 100%;
    justify-content: center;
    
    background-color: black;

}